<div class="row">
  <div class="col-sm-3">
    <%= render 'partials/lateral' %>  
  </div>
  <div class="col-sm-9">
    <div class="row">
      <% @products.each do |product| %>
          <div class="col-md-3" >
            <div class="thumbnail">
              <%= image_tag product.image.url(:medium), :class => "img-responsive center-block img-frame" %>
              <p><strong> <%= product.title %></strong></p>
              <p>$<%= product.price %></p>
              <button type="button" class="btn btn-default btn-sm">Agregar</button>
              <%= link_to 'Ver', product %>
              <%= link_to 'Editar', edit_product_path(product) %>
              <%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Está seguro?' } %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>






<%= link_to 'New Product', new_product_path %>
